@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); /*IMPORTAÇÃO FONTE*/

*{ /* SELECIONAR TODAS AS TAGS */
    margin: 0; /* ESPAÇAMENTO EXTERNO DOS ELEMENTOS */
    padding: 0; /* ESPAÇAMENTO INTERNO DOS ELEMENTOS */
    box-sizing: border-box;
    text-decoration: none; /* TIRA O UNDERLINE DOS LINKS */
    outline: none;
    font-family: 'Inter', sans-serif; /* APLICANDO A FONTE PARA TODOS OS ELEMENTOS */
}
body{
    background-color: rgb(224, 223, 223); /* COR DE FUNDO DO BODY */
}
section,footer{
    padding: 54px 0; /*ESPAÇAMENTO INTERNO DOS ELEMENTOS SECTION E FOOTER */
}
h3{
    font-size: 50px; /*TAMANO FONTE H3 */
}
p{
    color: black; /*COR PARAGRAFO */
}
.container{
    max-width: 1400px; /*LIMITAÇÃO DE LARGURA DA CLASSE CONTAINER */
    margin: 0 auto; /* MESMOS ESPAÇAMENTOS LATERAIS */
    padding: 0 5%;
}
.btn{
    background-color: rgb(0, 102, 197); /*COR BOTÃO */
    color: white; /*COR TEXTO BOTÃO */
    padding: 15px 20px; /*EXPANDIR ESPAÇAMENTO INTERNO */
    border-radius: 10px; /*ARREDONDAMENTO BORDAS */
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.2s; /*TRANSIÇÃO DO BOTÃO*/

}
.btn:hover{ /*EFEITO DO BOTAO AO PASSAR O MOUSE */
    background-color: rgb(2, 53, 100); /*COR DE FUNDO*/
}
header {
    background-position: center; /*CENTRALIZANDO O HEADER */
    background-size: cover; /*OCUPAR TODA O ESPAÇAMENTO DO HEADER*/
    background-attachment: fixed; /*EFEITO PARALAX */
}
nav {
    display: flex; /*DEIXAR ELEMENTOS UM AO LADO DO OUTRO*/
    align-items: center; /*ALINHAMENTO DOS ELEMENTOS*/
    justify-content: space-between; /*ESPAÇO IGUAL PARA TODOS OS ELEMENTOS*/
    padding-top: 30px; /*ALINHAMENTO NO TOP DA NAV*/
}
nav ul{
    display: flex; /*DEIXAR ELEMENTOS UM AO LADO DO OUTRO*/
    align-items: center; /*ALINHAMENTO DOS ELEMENTOS*/
}
nav ul a{ /*EFEITOS NAV*/
    color: white; /*COR DA LETRA DA NAV*/
    margin: 0 25px; /*ESPAÇAMENTO DA LETRA DA NAV*/
    text-transform: uppercase; /*LETRA EM MAISCULO*/
    font-size: 14px; /*TAMANHO LETRA*/
    display: block; /*ELEMENTO BLOQUEADO PARA NÃO ROLAR*/
}
nav ul a:not(.btn)::after{ /*EFEITO MOUSE NAVBAR ANTES*/
    content: "";
    background-color: rgb(0, 102, 197);
    height: 3PX;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{ /*EFEITO MOUSE NAVBAR APÓS*/
    width: 100%;

}
.banner { /*CONTEUDO/BANNER DO SITE*/
    display: flex; /*DEIXAR ELEMENTOS UM AO LADO DO OUTRO*/
    justify-content: center; /*DEIXAR ELEMENTOS CENTRALIZADOS*/
}
.banner .banner-text{ /*ELEMENTOS DO BANNER*/

    text-align: center;
    padding: 0 110px;
}
.banner .banner-text h1 { /*ELEMENTOS DO BANNER H1*/
    font-size: 50px;
    color: white;

}
.banner .banner-text p{
    font-size: 20px;
    color: #000000;
    font-weight: lighter;
    margin: 18px 0px;

}
