/* começo da página index*/
.banner{
    display: flex;
    justify-content:center;
  }
.banner-text h1{
    font-size: 55px;
    color:#004AAD;
} 
.banner-text h2{
    font-size: 45px;
    color:#00FFFF;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
  }
.banner .banner-text p{
    font-size: 20px;
    color: black;
    font-weight: lighter;
    margin: 18px 0;
}/* final da página index*/
